<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
           http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>DPL JSP Migration</display-name>
  <context-param><param-name>DB_URL</param-name>
    <param-value>jdbc:sqlserver://121.78.147.103:16868;databaseName=LSAFE;encrypt=false;trustServerCertificate=true;sslProtocol=TLSv1</param-value>
  </context-param>
  <context-param><param-name>DB_USER</param-name><param-value>lsafe</param-value></context-param>
  <context-param><param-name>DB_PASS</param-name><param-value></param-value></context-param>
  <context-param><param-name>DB_POOL_SIZE</param-name><param-value>5</param-value></context-param>

  <listener><listener-class>db.DBPoolListener</listener-class></listener>

  <!-- 정적 파일 /static/ -->
  <servlet>
    <servlet-name>StaticServlet</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param><param-name>debug</param-name><param-value>0</param-value></init-param>
    <init-param><param-name>listings</param-name><param-value>false</param-value></init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping><servlet-name>StaticServlet</servlet-name><url-pattern>/static/*</url-pattern></servlet-mapping>

  <!-- ── 관리자 백오피스 ── -->
  <servlet><servlet-name>LegalServlet</servlet-name><servlet-class>ctrl.LegalServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>LegalServlet</servlet-name>
    <url-pattern>/legal/</url-pattern><url-pattern>/legal</url-pattern></servlet-mapping>

  <servlet><servlet-name>RegulationServlet</servlet-name><servlet-class>ctrl.RegulationServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>RegulationServlet</servlet-name>
    <url-pattern>/regulation/</url-pattern><url-pattern>/regulation</url-pattern></servlet-mapping>

  <servlet><servlet-name>NotifyServlet</servlet-name><servlet-class>ctrl.NotifyServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/notify/</url-pattern><url-pattern>/notify</url-pattern></servlet-mapping>

  <servlet><servlet-name>SafetyServlet</servlet-name><servlet-class>ctrl.SafetyServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>SafetyServlet</servlet-name>
    <url-pattern>/safety/</url-pattern><url-pattern>/safety</url-pattern></servlet-mapping>

  <servlet><servlet-name>ItemsServlet</servlet-name><servlet-class>ctrl.ItemsServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>ItemsServlet</servlet-name>
    <url-pattern>/items_def/</url-pattern><url-pattern>/items_def</url-pattern>
    <url-pattern>/items_detail/</url-pattern><url-pattern>/items_detail</url-pattern></servlet-mapping>

  <servlet><servlet-name>AjaxServlet</servlet-name><servlet-class>ctrl.AjaxServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajax/</url-pattern><url-pattern>/ajax</url-pattern></servlet-mapping>

  <!-- ── 프론트엔드 사용자 화면 ── -->
  <servlet><servlet-name>BoardServlet</servlet-name><servlet-class>ctrl.BoardServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board/</url-pattern><url-pattern>/board</url-pattern></servlet-mapping>
  <servlet><servlet-name>ShortclassAdminServlet</servlet-name><servlet-class>ctrl.ShortclassAdminServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>ShortclassAdminServlet</servlet-name>
    <url-pattern>/shortclass/</url-pattern><url-pattern>/shortclass</url-pattern></servlet-mapping>
  <servlet><servlet-name>NewsAdminServlet</servlet-name><servlet-class>ctrl.NewsAdminServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>NewsAdminServlet</servlet-name>
    <url-pattern>/news_admin/</url-pattern><url-pattern>/news_admin</url-pattern></servlet-mapping>
  <servlet><servlet-name>RiskdbAdminServlet</servlet-name><servlet-class>ctrl.RiskdbAdminServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>RiskdbAdminServlet</servlet-name>
    <url-pattern>/riskdb_admin/</url-pattern><url-pattern>/riskdb_admin</url-pattern></servlet-mapping>
  <servlet><servlet-name>StandardAdminServlet</servlet-name><servlet-class>ctrl.StandardAdminServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>StandardAdminServlet</servlet-name>
    <url-pattern>/standard_admin/</url-pattern><url-pattern>/standard_admin</url-pattern></servlet-mapping>
  <servlet><servlet-name>CateAdminServlet</servlet-name><servlet-class>ctrl.CateAdminServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>CateAdminServlet</servlet-name>
    <url-pattern>/cate_admin/</url-pattern><url-pattern>/cate_admin</url-pattern></servlet-mapping>
  <servlet><servlet-name>FrontServlet</servlet-name><servlet-class>ctrl.FrontServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>FrontServlet</servlet-name>
    <url-pattern>/front/*</url-pattern></servlet-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param><param-name>encoding</param-name><param-value>UTF-8</param-value></init-param>
  </filter>
  <filter-mapping><filter-name>EncodingFilter</filter-name><url-pattern>/*</url-pattern></filter-mapping>

  <welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
</web-app>
